      *{
        margin: 0px;
        box-sizing: border-box;
        background-color: black;
        text-align: center;
      }
      /*CSS for all the different buttons*/
      .Button {
        font-size: 25px;
        background-color: rgb(43, 43, 43);
        border-color: rgb(138, 138, 138);
        border-style: solid;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 10px;
        display: inline-block;
        width: 150px;
        height: 100px;
        border-width: 10px;
      }
      .Button:hover {
        transition-duration: 500ms;
        color: rgb(165, 126, 43);
        background-color: rgba(68, 29, 14, 0.589);
        text-shadow: 1px 1px 5px rgb(255, 132, 49);
        border-color: rgb(94, 67, 36);
        border-style: solid;
      }
      .Button:active {
        color: rgb(255, 208, 0);
        background-color: rgba(255, 123, 0, 0.589);
        text-shadow: 1px 1px 5px orangered;
        border-color: rgb(255, 180, 94);
        border-style: solid;
      }
      .leftDoorButton {
        background-color: rgb(39, 13, 11);
        border-color: rgb(51, 5, 5);
        border-style: solid;
        border-width: 10px;
        border-radius: 10px;
        margin: 10px;
        display: inline-block;
        width: 200px;
        height: 400px;
        text-align: center;
        transition-duration: 500ms;
      }
      .leftDoorButton:hover {
        background-color: rgb(66, 13, 9);
        border-color: rgb(151, 23, 23);
        border-style: solid;
        display: inline-block;
        transition-duration: 500ms;
      }
      .rightDoorButton {
        background-color: rgb(20, 20, 20);
        border-color: rgb(23, 35, 53);
        border-style: solid;
        color: rgb(255, 94, 0);
        border-radius: 10px;
        border-width: 10px;
        margin:10px;
        display: inline-block;
        text-align: center;
        width: 200px;
        height: 400px;
        transition-duration: 500ms;
      }
      .rightDoorButton:hover {
        background-color: rgb(34, 34, 34);
        transition-duration: 500ms;
        border-color: rgb(36, 55, 161);
        border-style:solid;
      }
      .downstairsButton {
        transition-duration: 500ms;
        background-color: rgb(0, 0, 0);
        background: repeating-linear-gradient(black, rgb(61, 61, 61) 20%, rgb(77, 77, 77) 10%);
        border-color: rgb(29, 29, 29);
        border-style: solid;
        border-radius: 10px;
        border-width: 10px;
        margin: 10px;
        display: inline-block;
        text-align: center;
        width: 300px;
        height: 300px;
      }
      .downstairsButton:hover {
        transition-duration: 500ms;
        background: repeating-linear-gradient(rgb(15, 15, 15), rgb(75, 75, 75) 20%, rgb(87, 87, 87) 10%);
        border-color: rgb(134, 134, 134);
        border-style: solid;
        border-radius: 10px;
        border-width: 10px;
        width: 320px;
        height: 320px;
      }
      .basementButton {
        width: 200px;
        height: 400px;
        background: radial-gradient(rgba(107, 73, 22, 0.664), rgb(0, 0, 0));
        border-color: rgb(29, 29, 29);
        border-style: solid;
        border-radius: 5px;
        border-width: 5px;
        transition-duration: 500ms;
      }
      .basementButton:hover {
        width: 210px;
        height: 410px;
        background: radial-gradient(rgba(139, 96, 30, 0.856), rgb(0, 0, 0));
        border-style: solid;
        border-color: rgba(139, 96, 30, 0.856);
        transition-duration: 500ms;
      }
      /*CSS for the program div and some text.*/
      .programDiv {
        display: inline-block;
        padding: 5px;
        margin: 10px;
        width: 700px;
        height: 600px;
      }
      .introText {
        font-size: 17px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 5px;
        color: rgb(255, 255, 255);
        background: radial-gradient(rgba(90, 90, 90, 0.75)20%, rgba(2, 6, 53, 0.75),rgba(0, 0, 0, 0.75));
        text-shadow: 1px 1px 3px rgb(0, 0, 0); 
        border-radius: 20px;
      }
      .goldDisplay {
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 229, 83);
        display: block;
        margin-top: 15px;
      }
      .damageDisplay {
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        color: rgb(255, 0, 0);
        display: block;
        margin-top: 15px;
      }
      .healthDisplay {
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(9, 255, 0);
        display: block;
        margin-top: 15px;
      }
      .weaponDisplay {
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        display: block;
        margin-top: 15px;
      }
      .equipmentDisplay {
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(88, 105, 255);
        display: block;
        margin-top: 15px;
        margin-bottom:15px;
      }
      .doorTextStyle {
        font-size: 20px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 1px;
        color: rgb(255, 177, 75);
        text-shadow: 1px 1px 5px rgb(255, 94, 0); 
      }
      .textStyle {
        font-size: 20px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 10px;
        color: rgb(255, 177, 75);
        text-shadow: 1px 1px 2px rgb(255, 30, 0); 
      }
      .stairsText {
        font-size: 17px;
        text-align: center;
        font-weight: bolder;
        font-family: papyrus;
        margin: 10px;
        color: rgb(255, 177, 75);
        text-shadow: 1px 1px 2px rgb(255, 30, 0); 
      }
      .cathedralText {
        font-size: 20px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 5px;
        color: rgb(255, 212, 23);
        text-shadow: 1px 1px 5px rgb(255, 51, 0); 
      }
      /* CSS for the skeleton encounter*/
      .skeletonStyle {
        width: 150px;
        height: 150px;
        margin: 10px;
        background: repeating-linear-gradient(to top,rgb(95, 95, 95) 30% , rgb(192, 192, 192) 40%), rgb(27, 27, 27) 20%;
        color: rgb(255, 88, 88);
        text-shadow: 1px 1px 2px black;
        font-size: 40px;
        border-color: rgb(126, 126, 126);
        border-style: solid;
        display: inline-block;
        transition-duration: 500ms;
      } 
      .skeletonStyle:hover {
        background: repeating-linear-gradient(to top,rgb(131, 131, 131) 30% , rgb(255, 134, 134) 40%), rgb(63, 4, 4) 20%;
        color: rgb(255, 0, 0);
        text-shadow: 1px 1px 2px black;
        display: inline-block;
        transition-duration: 500ms;
      }
      /* CSS for the healing event and some text */
      .healButtonStyle {
        font-size: 17px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 5px;
        text-wrap-style: nowrap;
        color: rgb(255, 230, 119);
        text-shadow: 1px 1px 2px rgb(29, 29, 29);
        background-color: rgb(19, 19, 19); 
        transition-duration: 500ms;
        border-style: double;
        border-color: rgb(192, 86, 0);
        background: radial-gradient(rgba(116, 42, 0, 0.411),rgba(39, 0, 0, 0.404));
        width: 170px;
        height: 80px;
      }
      .healButtonStyle:hover{
        font-weight: bolder;
        font-family: papyrus;
        color: rgb(255, 187, 0);
        text-shadow: 1px 1px 2px rgb(29, 29, 29);
        background: radial-gradient(rgba(255, 94, 0, 0.411),rgba(88, 0, 0, 0.404));
        transition-duration: 500ms;
        width: 190px;
        height: 90px;
      }
      .fightText {
        font-size: 17px;
        font-weight: bolder;
        font-family: papyrus;
        margin: 5px;
        text-wrap-style: nowrap;
        color: rgb(255, 177, 75);
        text-shadow: 1px 1px 5px rgb(255, 94, 0); 
      }
      /* Css for the actual links */
      ul {
        display: inline-block;
      }
      .programLink {
        color:rgb(255, 187, 97);
        background-color: rgba(68, 29, 14, 0.589);
        font-size: 25px;
        text-align:center;
        text-decoration: none;
        width: 100px;
        height: 35px;
        display:inline-block;
        margin:10px;
        border-radius: 10px;
        transition-duration: 500ms;
        border-style:solid;
        border-color:rgb(48, 48, 48);
      }
      .programLink:hover {
        background-color: rgb(70, 20, 0);
        text-shadow: 1px 1px 5px rgb(255, 132, 49);
        color: rgb(255, 207, 104);
        transition-duration: 500ms;
        border-style: solid;
        border-color: grey;
      }
      .programLink:active {
        color: rgb(255, 208, 0);
        background-color: rgba(255, 123, 0, 0.589);
        text-shadow: 1px 1px 5px orangered;
      }
      .link {
        color:rgb(255, 187, 97);
        background-color: rgba(68, 29, 14, 0.589);
        font-size: 25px;
        text-align:center;
        text-decoration: none;
        width: 75px;
        height: 35px;
        display:inline-block;
        margin:20px;
        border-radius: 10px;
        transition-duration: 500ms;
        border-style:solid;
        border-color:rgb(48, 48, 48);
      }
      .link:hover {
        background-color: rgb(70, 20, 0);
        border-radius: 10px;
        text-shadow: 1px 1px 5px rgb(255, 132, 49);
        color: rgb(255, 207, 104);
        transition-duration: 500ms;
        border-style: solid;
        border-color: grey;
      }
      .link:active {
        transition-duration: 500ms;
        color: rgb(255, 208, 0);
        background-color: rgba(255, 123, 0, 0.589);
        text-shadow: 1px 1px 5px orangered;
      }
      /* CSS for the text and headers inside the links */
      .aboutText {
        color:rgb(255, 187, 0);
        padding:5px;
        background-color: black;
        font-size: 20px;
        text-align: center;
        width: 500px;
        height: 100px;
        margin:10px;
        display:inline-block;
      }
      .aboutHeader {
        color:rgb(255, 225, 185);
        padding:5px;
        font-variant: small-caps;
        background-color: black;
        font-size: 40px;
        text-align: center;
        width: 500px;
        height: 50px;
        margin:10px;
        display:inline-block;
      }
      .headerLogoStyle{
        margin:10px;
        font-size:25px;
        font-family:papyrus;
        font-variant: small-caps;
        color: rgb(255, 222, 133);
        text-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-wrap-mode: nowrap;
        padding:10px;
        background: radial-gradient(rgb(180, 115, 30),rgba(255, 94, 0, 0.411),rgba(88, 0, 0, 0.404));
        border-style: solid;
        border-color: rgba(255, 186, 97, 0.486);
        border-radius: 20px;
        display:inline-block;
        width:500px;
        height:70px;
      }
      .linkNav{
        display: inline-block;
        width: 300px;
        height: 75px;
        border-radius: 20px;
        margin:10px;
        display:inline-block;
      }
